/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.page_title__po7na {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.page_description__lvaOp {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}
